#title {
    color: rgb(160, 65, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
p {
    color: rgb(160, 65, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}
li {
    color: rgb(160, 65, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}
h3 {
    background-color: salmon;
    opacity: 0.8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}